/*
   GAP: GRID AND FLEX SPACING

   Base:
     g = gap


   Media Query Extensions:
     -s = small
     -m  = medium
     -l  = large

*/


.gc0 { column-gap: var(--spacing-0, 0); }
.gc1 { column-gap: var(--spacing-1, 4px); }
.gc2 { column-gap: var(--spacing-2, 8px); }
.gc3 { column-gap: var(--spacing-3, 16px); }
.gc4 { column-gap: var(--spacing-4, 32px); }
.gc5 { column-gap: var(--spacing-5, 64px); }
.gc6 { column-gap: var(--spacing-6, 128px); }
.gc7 { column-gap: var(--spacing-7, 256px); }

@container (min-width:30em) {
  .gc0-s { column-gap: var(--spacing-0, 0); }
  .gc1-s { column-gap: var(--spacing-1, 4px); }
  .gc2-s { column-gap: var(--spacing-2, 8px); }
  .gc3-s { column-gap: var(--spacing-3, 16px); }
  .gc4-s { column-gap: var(--spacing-4, 32px); }
  .gc5-s { column-gap: var(--spacing-5, 64px); }
  .gc6-s { column-gap: var(--spacing-6, 128px); }
  .gc7-s { column-gap: var(--spacing-7, 256px); }
}

@container (min-width:48em) {
  .gc0-m { column-gap: var(--spacing-0, 0); }
  .gc1-m { column-gap: var(--spacing-1, 4px); }
  .gc2-m { column-gap: var(--spacing-2, 8px); }
  .gc3-m { column-gap: var(--spacing-3, 16px); }
  .gc4-m { column-gap: var(--spacing-4, 32px); }
  .gc5-m { column-gap: var(--spacing-5, 64px); }
  .gc6-m { column-gap: var(--spacing-6, 128px); }
  .gc7-m { column-gap: var(--spacing-7, 256px); }
}


@container (min-width:64em) {
  .gc0-l { column-gap: var(--spacing-0); }
  .gc1-l { column-gap: var(--spacing-1); }
  .gc2-l { column-gap: var(--spacing-2); }
  .gc3-l { column-gap: var(--spacing-3); }
  .gc4-l { column-gap: var(--spacing-4); }
  .gc5-l { column-gap: var(--spacing-5); }
  .gc6-l { column-gap: var(--spacing-6); }
  .gc7-l { column-gap: var(--spacing-7); }
}

